ul,
li {

    margin: 0;
    list-style-type: none;
}

body {
    margin: 0;
    font-family: sans-serif;
}

/*整个导航栏*/
.navigation-all {
    width: 100%;
    background-color: #f5f5f5;
}

.navigation-bar {
    /*要实现margin：0 auto 的功能必须要有固定的宽度.....傻逼了吧！*/
    width: 960px;
    height: 35px;
    margin: 0 auto;
    font-size: 12px;
    font-family: sans-serif;
    line-height: 35px;
}

.envelope-color {
    color: #ff3e00;
}

.navigation-bar-left {
    padding-left: 0;
}

.navigation-bar-left li {
    float: left;
}

.navigation-bar-left a {
    display: block;
    text-decoration: none;
    padding: 0 10px;
    color: #6c6c6c;
}

.navigation-bar-right li {
    float: right;
}

.navigation-bar-right a {
    display: block;
    text-decoration: none;
    padding: 0 15px;
    color: #6c6c6c;
}

.content-column {
    width: 960px;
    margin: 0 auto;
}

.search-column {
    width: 960px;
    margin: 0 auto;
    height: 35px;
    padding: 20px 0 40px;
}

.sprites-images {
    background-image: url(../images/icons/taobao-icon.png);
    /*background-position:top left;负数方向为左/上 ，同理正数方向为右/下*/
    /*background-position: -50px 0;*/
    width: 180px;
    height: 45px;
    border: 0;
    float: left;
}

.search-input {
    width: 400px;
    height: 35px;
    border: 3px solid #ff3e00;
    padding-left: 8px;
    float: right;
}

.click-button {
    height: 35px;
    width: 80px;
    color: #fff;
    border: 0;
    background-color: #ff3e00;
    padding: 0;
    float: right;
}

.commodity-column {
    width: 960px;
    margin: 0 auto;
}

.commodity-switch-column {

    position: relative;
}

.commodity-switch-column-left {
    padding-left: 0;
    width: 100%;
    height: 33px;
    /*display: block;*/
}

.commodity-switch-column-left li {
    /*text-decoration-color: #ff3e00;*/
    font-size: 16px;
    font-weight: 700;
    float: left;

}

.commodity-all {

    padding: 0 0 15px 15px;
    height: 18px;
    cursor: pointer;
}

.commodity-all:hover {
    border-bottom: 2px solid #ff3e00;
}

.commodity-down {
    padding: 0 0 15px 15px;
    cursor: pointer;
    height: 18px;
}

.commodity-down:hover {
    border-bottom: 2px solid #ff3e00;
}

.commodity-short {
    padding: 0 25px 15px 25px;
    height: 18px;
    cursor: pointer;
}

.commodity-short:hover {
    border-bottom: 2px solid #ff3e00;
}

.commodity-switch-column-left a {
    text-decoration: none;
    text-align: center;
    padding-right: 15px;
    color: #3c3c3c;
}

.commodity-switch-column-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
}

.commodity-switch-column-right strong {
    color: #ff3e00;
}

.commodity-switch-column-right button {
    width: 55px;
    height: 25px;
    border-radius: 2px;
    background-color: #aaa;
    color: #fff;
    text-align: center;
    font-size: 12px;
    border: 0;
}

.commodity-bottom-line {
    width: 100%;
    background-color: #e6e6e6;
    height: 2px;
}

.commodity-information {
    width: 960px;
    margin: 0 auto;
    height: 50px;
    color: #3c3c3c;
    padding: 3px;
    line-height: 50px;
    font-size: 12px;
    overflow: hidden;
}

.commodity-choose {
    width: 13px;
    height: 13px;
    border-radius: 2px;
    cursor: pointer;
    color: #000;
    border: 0;
    padding: 0;
}

.commodity-information ul {

}

.commodity-information-left {
    padding-left: 15px;
}

.commodity-information-left li {
    width: 100px;
    float: left;
}

.commodity-information-right li {
    width: 100px;
    float: right;
}

.store-name {
    width: 960px;
    height: 38px;
    margin: 0 auto;
    padding-left: 0;

}
.store-name ul{
    padding-left: 15px;
    line-height: 38px;
}
.store-name li {
    font-size: 12px;
}
.store-name li a{
    text-decoration: none;
    color: #3c3c3c;
}
.store-name li a:hover{
    text-decoration-style: solid;
    color: #ff3e00;
}
.commodity-details{
    width:960px;
    font-size: 12px;
    margin:0 auto;
}
.commodity-details-list{
    width: 100%;
    height: 100px;
    border:1px solid #ccc;
    padding:20px 0;
}
.commodity-details-list ul{
    height: 80px;
    padding-left: 15px;
}
.commodity-details-list li{
    /*width: 20px;*/
    float: left;
}
.input-display{
    width:30px;
    height:50px;
}
.image-display{

}
.text-display{
    width: 190px;
    padding-left: 15px;
}
.commodity-text-display{
    float: left;
    color: #3c3c3c;
    text-decoration: none;
}
.commodity-text-display:hover{
    color: #ff3e00;
    text-decoration:solid;
}
.bankCard-text-display{
    padding-top: 15px;
    float: left;
}
.color-display{
    padding-left: 30px;
    padding-right: 40px;
}
.color-display p{
    color:#9c9c9c;
    margin:0;
}
.money-display{
    padding-right: 20px;
    padding-left: 15px;
}
.money-display p{
    margin:0;
}
.no-discount{

    font-size: 12px;
    text-decoration: line-through;
    color: #9c9c9c;

}
.have-discount{
    font-size: 12px;
    font-weight: bold;
    color: #000;
}
.commodity-number{
    /*border: 1px;*/
    width: 39px;
    height: 27px;
    border:1px solid #aaa;
    border-radius: 2px;
    padding:4px 1px;
}
.seller-promotion{
    position: relative;
    width: 70px;
    height: 20px;
    border-radius: 3px;
    border:1px solid #ff3e00;
    background-color: #FFF0E7;
    padding-top: 3px;
    padding-left: 3px;
    color: #ff3e00;
    margin:0;


}
.seller-promotion p{
    padding-top: 3px;
    padding-left: 3px;
    color: #ff3e00;
    width: 55px;
    height:15px;
    margin:0;
    overflow: hidden;

}
.triangle-down{
    position: absolute;
    top:10px;
    right: 5px;
    display: inline-block;
    line-height: 23px;
    width:0;
    height:0;
    float: right;
    border-width:4px 4px 0px 4px;
    border-color: #ff3e00 transparent;
    border-style:solid;
}
.triangle-down:hover{
    position: absolute;
    top:10px;
    right: 5px;
    display: inline-block;
    line-height: 23px;
    width:0;
    height:0;
    float: right;
    border-width:0px 4px 4px 4px;
    border-color: #ff3e00 transparent;
    border-style:solid;
}

.number-display{
    padding-left: 0;
}
/*.number-display a{*/
    /**/

/*}*/
.num-display{
    padding-left: 45px;
    padding-right: 10px;
    color: #ff3e00;
    font-weight: bold;
    font-size: 16px;
}

.number-down{
    display: block;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    height: 25px;
    width: 17px;
    text-align: center;
    float: left;
    line-height: 25px;
    background-color: #f0f0f0;
    text-decoration: none;
}
.number-add{
    display: block;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    height: 25px;
    width: 17px;
    line-height: 25px;
    text-align: center;
    float: right;
    background-color: #f0f0f0;
    text-decoration: none;
}
.del-display{
    padding-left: 40px;
}
.del-display p{
    margin:0;
}
.del-display p a{
    text-decoration: none;
    color: #3c3c3c;
}
.del-display p a:hover{
    color: #ff3e00;
}
.commodity-finally-balance{
    width:960px;
    height: 50px;
    /*margin:0 auto;*/
    background-color: #e5e5e5;
    position: fixed;
    left: 196px;
    bottom:0;

}
.commodity-finally-balance ul{
    padding-left: 15px;
}

.commodity-finally-balance ul li{
    padding-top: 20px;
    padding-right: 25px;
    float: left;
    color: #9c9c9c;
    font-size: 12px;
}
.commodity-finally-balance ul li a{
    text-decoration: none;
    color: #3c3c3c;
}
.input-display-finally{
    float: left;
    padding-top: 18px;
    padding-left: 15px;
}
.commodity-finally-right{
    float: right;
}
.choosed-commodity-number{
    padding-right: 20px;
    line-height: 50px;
    height: 50px;
    float: left;
}
.choosed-commodity-number span{
    font-size: 12px;
    color: #3c3c3c;
}
.choosed-commodity-number em{
    color: #ff3e00;
}
.all-commodity-price{
    padding-right: 20px;
    line-height: 50px;
    height:50px;
    font-size: 12px;
    float: left;

}
.all-commodity-price-color{
    color: #ff3e00;
}
.commodity-settle-account{
    width: 120px;
    height: 50px;
    border:1px  solid #ccc;
    border-right: 0;
    float: left;
    border-radius: 2px;
    background-color: #aaa;
}
.commodity-settle-account a{
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
    font-family: "Lantinghei SC","Microsoft Yahei";
    padding-left: 30px;
    line-height: 50px;
}
